# Frontend Supabase Config
VITE_SUPABASE_URL=https://kkpkrrhqkzukurmoxrdq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_SL0dwF6XwKOrGCpvlqevQQ_8YbReH3h

# Frontend Backend API and socket server URL
VITE_BACKEND_URL=https://dcon-1.onrender.com
NEXT_PUBLIC_BACKEND_URL=https://dcon-1.onrender.com
