/vendor
/node_modules
/.env
/.phpunit.result.cache
/build
/storage/*.key
/public/storage
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache
/.idea
/.vscode
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
